/target/
**/target/

/.idea/
/.vscode/

*.log
*.tmp
*.swp
*.swo

.DS_Store
Thumbs.db
desktop.ini

apps/flutter_client/.dart_tool/
apps/flutter_client/.flutter-plugins
apps/flutter_client/.flutter-plugins-dependencies
apps/flutter_client/.metadata
apps/flutter_client/build/
apps/flutter_client/.packages
/.trae/skills/
/.puro/
